.flex {
   display: flex; 
   flex-direction: column;
   height: 250px;    
   width: 250px; 
   background-color: white;
   float: left;
   margin: 40px;
   align-content: center;
   text-align: center;
}