.container {
  margin-top: 50px;
  background-color: darkgreen;
}


.color {
  background-color: darkgreen;
  color: white;
}
a:link {
  color: white;
}

a:hover {
  color: aquamarine;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 20px;
  color:black;
  line-height: 50px;
  font-style: bold;
  text-align: center;
  background: gray ;
  margin-top: -205%;
  margin-left: -110%;
   
}
.flex {
   display: flex; 
   flex-direction: column;
   height: 250px;    
   width: 250px; 
   
   background-color: white;
   float: left;
   margin: 40px;
   align-content: center;
   text-align: center;

}
.block {
   display: flex; 
   flex-direction: column;
   height: 80px;    
   width: 80px; 
   
   float: left;
   margin: 100px;
   align-content: center;
   text-align: center;

}
.col-sm-11 {
  width: 105%;
  margin-top: -60%;
}